* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERICI */

body {
  font-size: 17px;
  background-color: #f5f8f9;
}

ul {
  list-style-type: none;
}

h3 {
  margin-top: 30px;
}

/* CONTAINER */
.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

header {
  background-color: #fff;
  padding: 20px;
}

div.header {
  margin-bottom: 80px;
}

/* LOGO */
.logo {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
}

/* TITLE */
.title {
  display: inline-block;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}

/* BOTTONI */
.container button.btn1 {
  background-color: #47acec;
  color: white;
  padding: 10px;
  border-radius: 9%;
  border: 0;
  margin-left: 7%;
  margin-bottom: 20px;
}

.container button.btn2 {
  background-color: #fff;
  color: grey;
  padding: 10px;
  border-radius: 9%;
  border: 1px solid grey;
  margin-bottom: 20px;
}

/* TASK */

.task {
  margin-left: 7%;
}

.task .task-title {
  color: #414344;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

ul.task-list {
  color: #48484a;
  height: 40px;
  line-height: 40px;
}

/* SPUNTE */
.task-status {
  border: 1px solid currentColor;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
}

.task-status.task-check {
  color: green;
}

.task-status.task-cross {
  color: red;
}

.task-description {
  vertical-align: middle;
}

/* BADGE */

.badge {
  color: #fff;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  vertical-align: middle;
}

.badge.backgroud-color {
}
